body {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
}

main {
  /* width: fit-content; */
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

footer {
  font-family: serif;
}

p,
ul,
ol {
  margin-bottom: 2em;
  color: #1d1d1d;
}
